# Pandas: grouping

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100
## Install xlrd package to load Excel files
#!conda install openpyxl
#!conda install xlrd

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
len(cars['Model'].unique())

3608

group by the data by the Make  using count function

In [5]:
### your code us here
cars2 = cars.groupby(['Make']).count()
cars2

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
### your code us here
cars['Make'].mode()

0    Chevrolet
Name: Make, dtype: object

<b>show the average CO2_Emission_Grams/Km  by Brand

In [7]:
### your code us here
cars['CO2 Emission Grams/Km'] = cars['CO2 Emission Grams/Mile'] / 1.60934
cars3 = cars.groupby(['Make'])[['CO2 Emission Grams/Km']].mean()
cars3

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [8]:
### your code us here
cars4 = cars.groupby(['Make'])[['CO2 Emission Grams/Km']].mean().sort_values('CO2 Emission Grams/Km', ascending = True)
cars4

                                    CO2 Emission Grams/Km
Make
Fisker                                         105.011992
smart                                          153.498052
Fiat                                           189.311494
Daihatsu                                       192.742404
MINI                                           194.935105
...                                                   ...
Laforza Automobile Inc                         502.012683
Bugatti                                        542.497235
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Vector                                         651.919248

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [9]:
#describing the data to know the percentile ranges of the car years before implenting 
#pd qcut
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [10]:
## your code here
cars['year_range'] = pd.qcut(cars['Year'], q =4)

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [11]:
#First i convert the City MPG to City_Km/Liter 
cars['City_Km/Liter'] = cars['City MPG'] * 0.425144

In [12]:
### your code is here
cars.groupby(['year_range'])[['City_Km/Liter']].mean()

                    City_Km/Liter
year_range
(1983.999, 1991.0]       7.326122
(1991.0, 2001.0]         7.210345
(2001.0, 2010.0]         7.208461
(2010.0, 2017.0]         8.394453

Which brands are more environment friendly?

In [23]:
### your code is here
def era(x):
    global cars
    if x in cars[['year_range']] == 1980 | 1991:
        return '80s'
    elif x in cars[['year_range']] == 2001 | 2010:
        return '10s'


years_era = cars.groupby(['Year','Make'])[['CO2 Emission Grams/Km']].min()
years_era

                                  CO2 Emission Grams/Km
Year Make
1984 AM General                              324.831736
     American Motors Corporation             262.959024
     Buick                                   301.217831
     Cadillac                                263.565602
     Chevrolet                               212.389981
...                                                 ...
2017 Subaru                                  193.246921
     Toyota                                   98.176892
     Volkswagen                              168.392012
     Volvo                                   147.886711
     smart                                   155.964557

[1587 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [44]:
## Your Code here
#convert Highway MPG
cars['Highway MPL'] = cars['Highway MPG'] * 3.78541

In [46]:
cars.groupby(['Drivetrain', 'Highway MPG'])[['City_Km/Liter']].mean()

                              City_Km/Liter
Drivetrain       Highway MPG
2-Wheel Drive    10                3.684581
                 11                4.331155
                 12                4.440393
                 13                4.960013
                 14                4.809442
...                                     ...
Rear-Wheel Drive 38               13.539201
                 39               14.029752
                 41               14.029752
                 42               12.683463
                 45               13.604608

[185 rows x 1 columns]

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [60]:
## Your Code here
def renametrans(x):
    if x.startswith('A'):
        return 'Automatic'
    elif x.startswith('M'):
        return 'Manual'
    else: pass

cars['Trans'] = cars['Transmission'].apply(renametrans)
cars.groupby(['Trans'])[['City_Km/Liter']].mean()

           City_Km/Liter
Trans
Automatic       7.278311
Manual          7.968370

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [72]:
## your code is here
cars.groupby(['Trans']).agg({'City_Km/Liter':'mean'})

           City_Km/Liter
Trans
Automatic       7.278311
Manual          7.968370

aggregate with average City_Km/Liter and the minimum of the Trans

In [76]:
### your code is here
cars.groupby(['Trans']).agg({'City_Km/Liter': 'min'})

           City_Km/Liter
Trans
Automatic       2.976008
Manual          2.550864