In [1]:
# importing the random function 
import random

In [ ]:
#creating and empty list called sample_list_1
sample_list_1 = []

In [2]:
#creating a 100 random variables of range 0 to 100 and appending it to a list 
sample_list_1 = random.sample(range(0,100), 100)

In [3]:
#creating 80 random variables of range 0 to 100 and appending it to a list
sample_list_1 = random.sample(range(0, 100), 80)

In [4]:
print(sample_list_1)

[36, 3, 33, 31, 38, 69, 99, 85, 77, 73, 61, 72, 25, 70, 29, 75, 50, 34, 79, 14, 39, 19, 42, 98, 82, 9, 35, 57, 92, 86, 58, 59, 6, 60, 54, 24, 32, 52, 1, 55, 94, 74, 62, 71, 21, 0, 43, 30, 87, 17, 84, 83, 63, 41, 13, 88, 97, 8, 4, 12, 96, 44, 91, 28, 27, 23, 64, 7, 18, 90, 66, 76, 51, 78, 40, 80, 65, 93, 49, 26]

In [5]:
#converting the list sample list 1 to set 1
set1 = set(sample_list_1)

In [6]:
#printing the value of set 1
print(set1)

{0, 1, 3, 4, 6, 7, 8, 9, 12, 13, 14, 17, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

In [7]:
#creating an empty list sample list 2
sample_list_2 = []

In [8]:
#A for loop that returns only 80 elements between the range 0 to 100 
#then append the result into the variable list sample list 2
for i in range(80):
    value = random.randint(0,100)
    sample_list_2.append(value)

In [9]:
#printing the value of sample list 2
print(sample_list_2)

[8, 16, 13, 21, 84, 83, 74, 96, 73, 51, 0, 59, 38, 89, 27, 48, 69, 0, 92, 91, 63, 9, 9, 68, 52, 93, 30, 75, 11, 21, 23, 32, 85, 32, 60, 51, 97, 20, 17, 29, 18, 58, 76, 25, 26, 38, 4, 91, 78, 16, 29, 19, 1, 26, 67, 92, 76, 32, 5, 8, 31, 14, 28, 95, 11, 42, 32, 45, 3, 78, 40, 14, 1, 37, 6, 31, 97, 5, 58, 0]

In [12]:
#converting the sample list 2 to a set of items set 2
set2 = set(sample_list_2)

In [13]:
#Printing out the length of the newly created set 2 
#and there was a noticeable change in length
print(len(set2))

56

In [14]:
#Difference between set 1 and set 2 and storing it in a new variable set 3
set3 = set1 - set2

In [15]:
print(set3)

{7, 12, 24, 33, 34, 35, 36, 39, 41, 43, 44, 49, 50, 54, 55, 57, 61, 62, 64, 65, 66, 70, 71, 72, 77, 79, 80, 82, 86, 87, 88, 90, 94, 98, 99}

In [16]:
#Difference between set 2 and set 1 and storing it in a new variable set 4
set4 = set2 - set1

In [17]:
print(set4)

{67, 68, 37, 5, 11, 45, 16, 48, 20, 89, 95}

In [18]:
#Union between set 1 and set 2
set5 = set1 & set2

In [20]:
print(set5)

{0, 1, 3, 4, 6, 8, 9, 13, 14, 17, 18, 19, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 38, 40, 42, 51, 52, 58, 59, 60, 63, 69, 73, 74, 75, 76, 78, 83, 84, 85, 91, 92, 93, 96, 97}

In [ ]:
#Checking for the relationships amongs the 5 sets
def relate_sets(set1, set2, set3, set4, set5):

In [21]:
#Create an empty set
#Assign it to set6
set6 = set()

In [24]:
#Update set 3 and set 5 to set 6
set6 = set3.update(set5)

In [25]:
print(set6)

None

In [26]:
#Check if set 1 and set 6 are both equal
set1 == set6

False

In [27]:
#Check if set 1 is subset of set 2 using the method issubset()
set1.issubset(set2)

False

In [28]:
#Check if set 1 is a subset of set 3 using the issubset() method
set1.issubset(set3)

True

In [30]:
#Check the union of set 3, 4, 5 using the union method
print(set3.union(set4,set5))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [32]:
#Aggregate or join set 1 and set 2 
print(set1 | set2)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [33]:
#Check if set 1 equals set 2
set1 == set2

False

In [34]:
#remove a random element in  set 1
set1.pop()

0

In [35]:
#remove a list of sets in set 1
#list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)

In [36]:
print(set1)

{3, 4, 6, 7, 8, 12, 13, 14, 17, 18, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 50, 52, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}

In [37]:
len(set1)

62